{{#each tableCategorys}}
    <table id="{{tabId}}"> <!-- Таблиця -->
        <thead>
            <tr>
				 <th><a href="{{linkSelf}}">{{tabName}}</a></th>
            </tr>
	    </thead>
        <tbody>
		      <tr>
                    <td><img class="imgBack" src="{{img}}" /></td>
              </tr>
        </tbody>
    </table>
{{/each}}