<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./stylesheets/stylesheet.css" />
        <link rel="stylesheet" href="./stylesheets/admin.css" />
        <title>Administrator</title>
    </head>
    <body>
        <h1>You are welcome, admin!</h1>
        <div class="container-fluid">
            <div class="row" id="mainDiv">
                <div class="col-md-3" id="siteTree"></div>
                <div class="col-md-9" id="stuff"></div>
            </div>
        </div>
        
        <script src="./javaScript/vendor/jquery-3.1.1.min.js"></script>
        <script src="./javaScript/vendor/underscore.js"></script>
        <script src="./javaScript/vendor/backbone.js"></script>
        <script src="./javaScript/admin.js"></script>
        <script id="tweet-template" type="text/template">
            
        </script>
    </body>
</html>