<!----------------------------------------------- 
Головна сторінка сайту з продажі свіжих продуктів
 ----------------------------------------------->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<link type="text/css" rel="stylesheet" href="stylesheets/stylesheet.css" />
		<link rel="icon" href="images/ico.jpg" />
	</head>
    <body>
        <div id="top"> 
			<h1><a id="a_" href="see">Живі продукти</a></h1>
			<div>
				<img id="_1_" src="images/title_1.jpg" alt="Фото фруктів" title="Відбірні, соковиті" />
				<img id="_2_" src="images/title_2.jpg" alt="Photo" title="title" />
				<img id="_3_" src="images/title_3.jpg" />
			</div>
		</div>
		<div class="cont">
			<div id="bar">
				<h2>{{bar.title}}</h2>
                {{#each bar.option}}
				<a href=""><div>{{opt}}</div></a>
				{{/each}}
			</div>
        {{{body}}}
    </body>
</html>